.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  width: 1920px;
  height: 66px;
  padding: 0px 1809px 0px 45px;
  align-items: center;
  flex-shrink: 0;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.App-Contents{
  background: var(--second, #BADBF3);
  width: 1920px;
  height: 1080px;
}
