.App {
    text-align: center;
  }

.App_header {
  display: flex;
  width: 1920px;
  height: 60px;
  padding: 5px 28px 5px 31px;
  justify-content: center;
  align-items: flex-start;
  gap: 1761px;
  flex-shrink: 0;
  background: var(--d-9-d-9-d-9, #FAFDFF);
  box-sizing: border-box;
/* display: flex;
width: 1920px;
height: 60px;
padding: 0px 1809px 0px 45px;
align-items: center;
flex-shrink: 0;
box-sizing: border-box;
background: #FFFFFF; */
}

.App_Contents{
background: var(--second, #BADBF3);
width: 1920px;
height: 1020px;
display: flex;
padding-bottom: 10px;
flex-direction: column;
align-items: center;
gap: 31px;
box-sizing: border-box;
/* 余白で子要素を中央に持ってくる */
/* justify-content: center; */
}

.App_Contents_Frame{
  width: 1495px;
  height: 941px;
  flex-shrink: 0;
border-radius: 20px;
background: var(--d-9-d-9-d-9, #FAFDFF);  
display: flex;
gap:10px;
justify-content: space-between;
flex-wrap: wrap;
padding: 32px 36px 0px 36px;
margin-top: 28px;
box-sizing: border-box;
overflow-y: scroll;
}
